/*
* @Author: ztian
* @Date:   2017-10-26 22:49:08
* @Last Modified by:   ztian
* @Last Modified time: 2017-10-27 13:40:32
*/
/* 最外层容器 */
.page-wrap{
    padding: 40px 0;
    background: #e72955;
}
/* 用户内容框 包括用户标题和用户box */
.user-con{
    width: 400px;
    margin: 0 auto;
    background: #fff;
    position: relative;
}
/* 用户内容框 标题div */
.user-con .user-title{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
    color: #666;
}
/* 用户内容框 用户box */
.user-con .user-box{
    padding: 20px;
}
/* 错误提示div */
.user-con .user-box .error-item{
    position: relative;
    padding: 4px 0 4px 40px;
    margin-bottom: 10px;
    color: red;
    background: #fde9e9;
    border: 1px solid red;
    display: none;
}
/* 错误提示图标 */
.user-con .user-box .error-icon{
    position: absolute;
    left: 18px;
    top: 7px;
    font-size: 14px;
}
/* 用户名 密码样式 */
.user-con .user-item{
    position: relative;
    margin-bottom: 20px;
}
/* icon图标与input在同一行显示 */
.user-con .user-item .user-label{
    position: absolute;
    left: 1px;/* left top bottom为0 占满user-item容器内容 */
    top: 1px;
    bottom: 1px;
    width: 40px;
    line-height: 38px;/* 与input框的height相等即可居中显示 */
    background: #f3f3f3;
    font-size: 18px;
    color: #d3d3d3;
    text-align: center;
    border-right: 1px solid #bdbdbd;
}
/* input输入框样式 */
.user-con .user-item .user-content{
    padding: 10px 0 10px 50px;
    width: 308px;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
    border: 1px solid #bdbdbd;
    outline: none;
}
/* 登录按钮样式 */
.user-con .btn-submit{
    width: 100%;/* 内联块元素不会继承父元素宽度 */
    padding: 3px 0;
    text-align: center;
    font-size: 20px;
}
/* 忘记密码，免费注册样式 */
.user-con .link-item{
    text-align: right;
    margin-top: 10px;
}
.user-con .link-item .link{
    margin-left: 10px;
}