/*
* @Author: ztian
* @Date:   2017-10-30 14:17:41
* @Last Modified by:   ztian
* @Last Modified time: 2017-10-30 17:30:03
*/
.intro-wrap{
    overflow: hidden;
}
/* 左侧商品图片区 */
.intro-wrap .p-img-con{
    float: left;
    width: 420px;
}
/* 左侧商品图片区主图样式 */
.intro-wrap .p-img-con .main-img-con{
    height: 400px;
    border:1px solid #ddd;
}
.intro-wrap .p-img-con .main-img-con .main-img{
    width: 100%;
    height: 100%
}
/* 左侧商品图片区缩略图样式 */
.intro-wrap .p-img-con .p-img-list{
    overflow: hidden;
    margin-top: 5px;
    margin-right: -10px;
    height: 76px;
}
.intro-wrap .p-img-con .p-img-item{
    float: left;
    margin-right: 10px;
    width: 72px;
    height: 72px;
    border:2px solid #eee;
}
.intro-wrap .p-img-con .p-img-item:hover{
    border:2px solid #c60023;
    cursor: pointer;
}
.intro-wrap .p-img-con .p-img-item .p-img{
    width: 100%;
    height: 100%;
}
/* 右侧商品信息 */
.intro-wrap .p-info-con{
    float: left;
    width: 640px;
    margin-left: 20px;
}
/* 商品名称 */
.intro-wrap .p-info-con .p-name{
    font-size: 20px;
    color: #333;
}
/* 副标题 */
.intro-wrap .p-info-con .p-subtitle{
    font-size: 15px;
    color: #c60023;
    line-height: 30px;
}
/* 商品信息项 */
.intro-wrap .p-info-con .p-info-item{
  position: relative;
  padding: 0 10px;
  margin-top: 20px;
}
.intro-wrap .p-info-con .p-info-item .label{
  display:inline-block;/* 转化为内联块元素设置元素宽度 */
  width: 50px;
  color: #999; 
}
/* 商品价格 */
.intro-wrap .p-info-con .p-price-con{
    background: #eee;
    padding: 10px;
}
.intro-wrap .p-info-con .p-price-con .info{
    color:#c60023;
    font-size: 18px;
}
/* 商品数量 */
/* 商品数量input框 */
.intro-wrap .p-info-con .p-count-con .p-count{
   height: 36px;
   line-height: 36px;
   width: 45px;
   font-size: 15px;
   text-align: center;
   outline: none;
   border:1px solid #aaa;
}
/* 商品数量按钮 */
.intro-wrap .p-info-con .p-count-con .p-count-btn{
   position: absolute;
   left: 115px;
   display: block;
   width: 20px;
   height: 15px;
   line-height: 15px;
   text-align: center;
   font-size: 10px;
   border:1px solid #aaa;
   background: #fff;
   cursor: pointer;
   -moz-user-select : none;/* 不允许框选分页组件 */
   -webkit-user-select : none;
   -ms-user-select : none;
   user-select : none;
}
.intro-wrap .p-info-con .p-count-con .p-count-btn.plus{
    top: 0;
}
.intro-wrap .p-info-con .p-count-con .p-count-btn.minus{
   bottom: 0;
}
/* 下方商品详细信息区 */
.detail-wrap{
    margin-top: 15px;
}
/* 商品详细信息区tab样式 */
.detail-wrap .tab-list{
    background: #eee;
    border:1px solid #ddd;
    overflow: hidden;
    margin-bottom: 1px solid #c60023;
}
.detail-wrap .tab-list .tab-item{
    float: left;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.detail-wrap .tab-list .tab-item.active{
   background: #c60023;
   color: #fff;
}
/* 商品详细信息富文本处理 */
.detail-wrap .detail-con{
    padding-top: 20px;
    background: #fff;
    text-align: center;
}
/* 富文本中图片居中显示 */
.detail-wrap .detail-con img{
    display: block;
    margin: 0 auto;
}

/* 找不到商品时,错误信息的样式 */
.err-tip{
    height: 60px;
    line-height: 60px;
    color: #f60;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: #eee;
}