<!DOCTYPE html>
<html>
    <head>
        <!-- 使用html-loader打包通用的html头文件 -->
        <%= require('html-loader!./layout/head-common.html')  %>
        <!-- 使用htmlWebpackPlugin配置中的title -->
        <title><%= htmlWebpackPlugin.options.title%> -ZMALL电商平台</title>
    </head>
    <body>
        <%= require('html-loader!./layout/nav.html')  %>
        <%= require('html-loader!./layout/header.html')  %>
        <!-- 面包屑导航 -->
        <div class="crumb">
            <div class="w">
                <div class="crumb-con">
                    <a class="link" href="./index.html">ZMALL</a>
                    <span>></span>
                    <span class="link-text"><%= htmlWebpackPlugin.options.title%></span>
                </div>
            </div>
        </div>
        <div class="page-wrap w">
            <!--左侧菜单导航条-->
            <%= require('html-loader!./layout/nav-side.html')  %>
            <div class="content with-nav">
               
            </div>
        </div>
        <!--脚部页面-->
        <%= require('html-loader!./layout/footer.html')  %>
    </body>
</html>