/*
* @Author: ztian
* @Date:   2017-10-28 00:16:46
* @Last Modified by:   ztian
* @Last Modified time: 2017-10-28 12:43:39
*/
.form-line{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.form-line .label{
    width: 60px;
    display: inline-block;
    text-align: center;
}
/* 修改按钮样式 */
.btn-submit{
    width: 50px;
    text-align: center;
    margin-left: 10px;
}