/*
* @Author: ztian
* @Date:   2017-10-28 14:01:37
* @Last Modified by:   ztian
* @Last Modified time: 2017-10-28 14:22:30
*/
.form-line{
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    margin-bottom: 10px;
}
.form-line .label{
    width: 70px;
    display: inline-block;
    text-align: right;
}
/* 回填输入框样式 */
.input{
    padding: 2px;
    height: 21px;
    line-height: 25px;
    font-size: 13px;
    width: 200px;
    margin-left: 10px;
}
/* 修改按钮样式 */
.btn-submit{
    width: 50px;
    text-align: center;
}