<div class="footer">
    <div class="w">
        <!-- 版权所有 -->
        <div class="links">
            <a href="http://www.baidu.com" target="_blank" class="link">
                百度
            </a> |
             <a href="https://github.com/" target="_blank" class="link">
                Github
            </a>
        </div>
        <!-- 版权所有 -->
        <p class="copyright">
            Copyright © 2017 zmall.com All Rights Reserved
        </p>
    </div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>