/*
* @Author: ztian
* @Date:   2017-10-24 23:48:47
* @Last Modified by:   ztian
* @Last Modified time: 2017-10-28 01:05:13
*/
.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
}
.logo{
    text-decoration: none;
}