/*
* @Author: ztian
* @Date:   2017-10-24 23:00:19
* @Last Modified by:   ztian
* @Last Modified time: 2017-10-25 00:03:43
*/
/* css reset */
*{
    margin: 0;
    padding: 0;
}
/* 定义字体格式 */
body{
    background: #f6f6f6;
    font:12px/1.5 tahoma, arial, Mircosoft YaHei, sans-serif;
}
li{
    list-style: none;
}
img{
    display: block;
    border: none;
}
label{
    cursor: pointer;
}
input[type='checkbox']{
    cursor: pointer;
}
/* 定宽布局 */
.w{
    width: 1080px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
/* 全局通用样式 */
/* 隐藏元素样式 */
.hide{
    display: none;
}
/* 超链样式 */
.link{
    color: #999; /*#000全黑 #fff全白 #999黑白间的渐变色*/
    cursor:pointer;
    text-decoration: none;/*去除超链文本下的线*/
}
.link:hover{
    color: #e80012;
}
.link-text{
    color: #999; /*#000全黑 #fff全白 #999黑白间的渐变色*/
    text-decoration: none;/*去除超链文本下的线*/
}
/* btn样式 */
.btn{
    display: inline-block;
    padding: 0 20px;
    height: 40px;/* height line-height一样高度可以让文字居中 */
    line-height: 40px;
    vertical-align: middle;
    border: none;
    background: #c60023;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
.btn-mini{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;
}
/* loading */
.loading{
    margin: 10px auto;
    opacity: 0.6;/* 透明效果 0是完全透明 1是完全不透明*/
    display: block;
    width: 65px;
    height: 65px;
    border: 1px solid #ddd;/* 边框设置 */
    border-radius: 5px;/* 边框圆角 */
    background: url(../../image/icon/loading.gif) no-repeat;
    /* css的路径不能使用webpack resolove配置的路径别名 */
}