/*
* @Author: ztian
* @Date:   2017-10-24 15:52:42
* @Last Modified by:   ztian
* @Last Modified time: 2017-10-29 13:45:38
*/
/* 首页左侧搜索关键字导航栏样式 */
.keywords-list{
    float: left;
    width: 240px;
    height: 350px;
    padding: 10px 0;
    margin-right: 10px;
    background: #666;
    color:#fff;
}
.keywords-list .keywords-item{
   padding-left: 10px;
   height: 35px;
   line-height: 35px;
   font-size: 14px;
}
.keywords-list .keywords-item .link{
       color:#fff;
       margin-right: 6px;
}
.keywords-list .keywords-item .link:hover{
       color:#c60023;
}
.keywords-list .keywords-item:hover{
    background: #999;
}
/* 右侧轮播图样式 */
.banner-con{
    width: 830px;
    float: left;
    background: #eee;
    height: 370px;/* 与左侧关键字导航条同高 */
}
.banner-con .loading{
    margin-top: 150px;
}
.banner-con .banner-img{
  width: 100%;
  height: 370px;
}
/* 轮播图前一张后一张按钮样式 */
.banner-con .banner-arrow{
  position: absolute;
  top: 160px;
  width: 30px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  background: #ccc;
  background: rgba(0,0,0,.2);
  cursor: pointer;
}
.banner-con .banner-arrow:hover{
  background: #aaa;
  background: rgba(0,0,0,.5);
}
.banner-con .banner-arrow.prev{
  left: 0;
}
.banner-con .banner-arrow.next{
  right: 0;
}
/* 楼层样式 */
.floor-wrap .floor-title{
    height: 50px;
    line-height: 50px;
    color: #d58717;
    font-weight: normal;
    font-size: 20px;
    border-bottom: 1px solid #d58717;
}
/* 各楼层颜色 */
.floor-wrap:nth-child(2) .floor-title{
    color: #3b838c;
    border-bottom: 1px solid #3b838c;
}
.floor-wrap:nth-child(3) .floor-title{
    color: #a93931;
    border-bottom: 1px solid #a93931;
}
.floor-wrap:nth-child(4) .floor-title{
    color: #488bad;
    border-bottom: 1px solid #488bad;
}
.floor-wrap:nth-child(5) .floor-title{
    color: #642663;
    border-bottom: 1px solid #642663;
}
.floor-wrap .floor-list{
    margin-right: -20px;
    overflow: hidden; /* img和span对floor-item的浮动 */
}
.floor-wrap .floor-list .floor-item{
    position: relative;
    width: 200px;
    height: 220px;
    margin: 15px 20px 15px 0;
    float: left;
    cursor: pointer;
    background: #fff;
}
.floor-wrap .floor-list .floor-item:hover{
  box-shadow: 1px 1px 7px #ddd;
}
.floor-wrap .floor-list .floor-item .floor-text{
   position: absolute;  /* 相对于floor-item进行定位 */
   top: 12px;
   left: 20px;
   font-size: 16px;
   color: #555;
}
.floor-wrap .floor-list .floor-item .floor-img{
   position: absolute;  /* 相对于floor-item进行定位 */
   right: 15px;
   bottom: 10px;
   width: 80%;
   height: 75%;
}